# CUSTOM PBS BASIC CONFIGURATION

#------------ PBS PARAMETERS ------------
readonly JOB_NAME="{{ cookiecutter.project_name }}"

readonly CHUNKS=1
readonly N_CPUS=5
readonly MEMORY=2gb

readonly WALLTIME=00:00:20

readonly QUEUE_TYPE=short_cpuQ


#------------ MPI PARAMETERS ------------

readonly MPI_PROCESSES=5
